@font-face {
  font-family: Goldman;
  src:
    url('assets/fonts/goldman-regular-webfont.woff2') format('woff2'),
    url('assets/fonts/goldman-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

* + * {
  margin-top: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Goldman;
}
