:root {
  --bg-color: white;
  --body-font: Titillium, sans-serif;
  font-family: var(--body-font);
}

* {
  box-sizing: border-box;
}

* + * {
  margin-top: 1rem;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Goldman, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

pre {
  max-width: 100%;
  overflow: auto;
  padding: 1em;
}

.visually-hidden {
  clip-path: inset(50%);
  height: 1px;
  position: absolute;
  width: 1px;
}
