:root {
  --bg-color: #e6e5e4;
  --text-color: 4f4f4f;
  --accent-color: #d99416;
  --body-font: Titillium, sans-serif;
  --heading-font: Goldman, sans-serif;

  /* https://utopia.fyi/type/calculator/?c=320,16,1.2,1920,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
  --step--2: clamp(0.69rem, 0.67rem + 0.11vw, 0.80rem);
  --step--1: clamp(0.83rem, 0.80rem + 0.17vw, 1.00rem);
  --step-0: clamp(1.00rem, 0.95rem + 0.25vw, 1.25rem);
  --step-1: clamp(1.20rem, 1.13rem + 0.36vw, 1.56rem);
  --step-2: clamp(1.44rem, 1.34rem + 0.51vw, 1.95rem);
  --step-3: clamp(1.73rem, 1.59rem + 0.71vw, 2.44rem);
  --step-4: clamp(2.07rem, 1.88rem + 0.98vw, 3.05rem);
  --step-5: clamp(2.49rem, 2.22rem + 1.33vw, 3.82rem);
}

@media only screen and (prefers-color-scheme: dark) {
  :root {
    --bg-color: black;
    --text-color: white;
  }
}

@media print {
  :root {
    --bg-color: white;
    --text-color: black;
  }
}
